fastapi
uvicorn[standard]
jinja2
python-multipart
itsdangerous
pydantic
dnspython
email-validator
whois
sqlalchemy[asyncio]
pydantic-settings
pydantic
python-dotenv
asyncpg
psycopg2
passlib[bcrypt]
aiodns
aiohttp
requests
beautifulsoup4
celery
redis